<div>
  <h6>categories</h6>
  <hr />

  <div class="form-check" *ngFor="let category of categories1; index as i">
    <input
      class="form-check-input"
      type="radio"
      name="categories"
      id="a{{ i }}"
      value="{{ category._id }}"
      (click)="categoryChange($event)"
    />
    <label class="form-check-label" for="a{{ i }}"> {{ category.name }}</label>
  </div>
</div>
<div>
  <h6>Price</h6>
  <hr />
  <select name="min" class="form-control mt-2">
    <option value="100">100</option>
  </select>
  <select name="min" class="form-control mt-2">
    <option value="200">200</option>
  </select>
  <div>
    <button class="btn-block btn-sm btn-light border rounded mt-2 mb-2">
      Filter
    </button>
  </div>
</div>
